{% extends 'layout.html' %}

{% set hide_navigation = True %}
{% set title = 'Search Result' %}

{% block contents %}
    <h1>Search Result</h1>
    {% if not revisions %}
        <p>no result</p>
    {% else %}
        <table class="changes">
          <tr>
            <th class="timestamp">Date</th>
            <th class="page">Page</th>
            <th class="change_note">Change Note</th>
          </tr>
          {% for entry in revisions %}
          <tr class="{{ loop.cycle('even', 'odd') }}">
            <td class="timestamp">{{ entry.time }}</td>
            <td class="page"><a href="{{ url_for('show', name=entry.name) }}">{{ entry.title }}</a></td>
            <td class="change_note">{{ entry.note or '' }}</td>
          </tr>
          {% endfor %}
        </table>
    {% endif %}
{% endblock %}
